h1{
    text-align: center;
    margin-top: 10px;
    color:darksalmon;
}
h2{
    text-align: center;
    margin-top: 10px;
}
h3{
    text-align: center;
    margin-top: 10px; 
}
h4{
    text-align: center;
    margin-top: 10px; 
}
form{
    text-align: center;
    margin-top: 20px;
}
.button{
    text-align: center;
    margin-top: 20px;
}